body {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: #e8f5e9; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

